@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #F1C2F2, #C291F2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #564D8C;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #A0D9D9;
    text-shadow: 1px 1px 2px #759e9ec9;

}

h2 {
    color: #57AAF2;

}

p {
    text-align: justify;   

}