@font-face {
            font-family: 'idroid';
            src: url('fontes/idroid.otf') format('opentype');

}
header {
    color: white;
    background-image: linear-gradient(to bottom, #3CD983, #164C2E);
    text-align: center;
    margin: auto;
}

header > nav {
    text-align: left;
    
}

nav > a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

nav > a:hover {
    color: chartreuse;
}

main {
    margin: auto;
    width: 100;
}

h2 {
    font-family: 'idroid';
    color: #246340;
}

h3 {
    font-family: 'idroid';
    color: #246340;
    background-image: linear-gradient(to right, #9dd3b585, #a1d4b815);
}

p {
    text-indent: 25px;
}


footer {
    text-align: center;
    background-color: #1A5C38;
    color: white;
}
