@font-face {
            font-family: 'idroid';
            src: url('fontes/idroid.otf') format('opentype');
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    color: white;
    background-image: linear-gradient(to bottom, #3CD983, #164C2E);
    text-align: center;
    margin: auto;
}

header > nav {
    text-align: left;
    
}

a {
    color: #749B85;
}

strong {
    color: #84E1AD;
}

a::after {
    content: '\1F517';
    margin-left: 5px;
    font-size: 0.8em;
    text-decoration: none;
}

a.nvg::after{
    content: none;
}

body {
    background-color: #84E1AD;
    min-height: 100vh;
    margin: auto;
}
nav {
    padding-bottom: 12px;
}

nav > a {
    color: white;
    text-decoration: none;
    margin-left: 12px;
    padding: 10px;
    border-radius: 5px;
}

nav > a:hover {
    background-color: #1A5C38;
    color: #3CD983;
}


main {
    width: 790px;
    margin: auto;
    width: 100;
}

h2 {
    font-family: 'idroid';
    color: #246340;
}

h3 {
    font-family: 'idroid';
    color: #246340;
    background-image: linear-gradient(to right, #9dd3b585, #a1d4b815);
}

p {
    text-indent: 25px;
    margin-left: 7px;
}

p#bg {
    margin-left: 0px;
    text-align: left;
    color: white;
    background-color: #2FA866;
    padding: 10px 10px 10px 0px;
    border-radius: 10px 10px 0px 0px;
}

p#subtitulo {
    width: 395px;
    margin: auto;
}

div {
    background-color: #C5EBD6;
    border-radius: 10px;
    padding-bottom: 5px;
    margin: auto;
}


footer {
    text-align: center;
    background-color: #1A5C38;
    color: white;
}
